<!DOCTYPE html>

<html>

  <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
  <link rel='stylesheet' href='{{prefix}}/static/style.css' type='text/css' media='screen' charset='utf-8'>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.65, user-scalable=no">
    <title>survey</title>
  </head>

  <body>

    <div id="survey-main"></div>

    <script src="{{prefix}}/static/survey-app.js"></script>

    <script>
      // get the node element to bind the survey app to.
      var node = document.getElementById('survey-main');

      // config value, inserted by Jinja.
      var config = {{ config | tojson | safe  }};

      // launch elm-app.
      var app = Elm.Main.embed(node,config);
    </script>

    <!-- STAKEHOLDER LOGO SECTION -->
    <div id="logo-box">
      <div class="logo-container">
        <img class="logo" src="{{prefix}}/static/images/seagrant_logo.jpg" alt="Seagrant">
      </div>

      <div id="center-logos" class="logo-container">
        <img class="logo inner-logo" src="{{prefix}}/static/images/hnei_logo.png" alt="HNEI">
        <img class="logo inner-logo" src="{{prefix}}/static/images/hidesign_logo.png" alt="HiDesign">
      </div>

      <div class="logo-container">
        <img class="logo" src="{{prefix}}/static/images/erdl_logo.png" alt="ERDL">
      </div>
    </div>

    </body>

</html>
