html {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 900;
  width: 80%;
  margin: auto;
  padding: 8px;


}

button {
  color: #383838;
  padding: auto;
  text-align: center;
  display: inline-block;
  font-size: 20px;

  box-shadow: 2px 5px 10px #bababa;
  border-radius: 5px;

  margin: 10px;
  vertical-align: middle;

  height: 160px;
  width: 160px;
}

button:disabled {
  background-color: #bbbbbb;
  color: #666666;
}


.selected {
  border: 6px solid #191919;
  box-shadow: 4px 5px 10px #333333;
}

.question {
  padding: 40px;
  border-bottom: 2px solid #d8d8d8;
}

.question-text {
  font-size: 30px;
  color: #848484;
  padding: 8px;
}

.submit {
  padding: 20px;
}

.submit-button {
  padding: 14px 32px;
  border-radius: 2px;
  background-color: #38908A;

  margin-top: 50px;
  width: 960px;
  font-size: 30px;
}

.submit-button:disabled {
  background-color: #87BCB8;
}
