html {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 900;
  width: 95%;
  margin: auto;
  padding: 8px;


}

.kiosk {
  margin-top: 100px;
}

button {
  color: #383838;
  padding: auto;
  text-align: center;
  display: inline-block;
  font-size: 26px;

  box-shadow: 2px 5px 10px #bababa;
  border-radius: 5px;

  margin: 5px;
  vertical-align: middle;

  height: 190px;
  width: 190px;
}

button:disabled {
  background-color: #bbbbbb;
  color: #666666;
}


.selected {
  border: 6px solid #191919;
  box-shadow: 4px 5px 10px #333333;
}

.question {
  padding: 0px;
  border-bottom: 2px solid #d8d8d8;
}

.question-text {
  font-size: 40px;
  color: #848484;
  padding: 8px;
}

.submit {
  padding: 20px;
}

.submit-button {
  padding: 14px 32px;
  border-radius: 2px;
  background-color: #38908A;

  margin-top: 50px;
  margin-bottom: 300px;
  width: 960px;
  font-size: 30px;
}

.submit-button:disabled {
  background-color: #87BCB8;
}

.logo {
  max-height: 50%;
  max-width: 50%;
}

.inner-logo {
  height: 100%;
  width: 100%;
  margin: auto;
  display: block;
}

.logo-container {
  height: 100%;
  width: 20%;
  display: inline-block;
  padding-bottom: 20px;
}

#center-logos {
  height: 100%;
  width: 40%;
  margin: auto;
}

#logo-box {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}
